.banner{
    background:url('../img/donald.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 900;

}

.fotocv{
    width: 250px;
    height: 250px;
    z-index: 950;
    position: relative; left: 100px; top: 100px;
    border-color: chocolate;
    border: 30px;
  
    
    
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(184, 248, 227);
}

h3{ color:#0e12e0;
    background-color: #9ee8ff }

h1{ color:#0e12e0;
    text-align: center;
    background: #9ee8ff; 
    margin-bottom: 150px;
    margin-top: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    .boldi{
        font-weight: bold;
        font-style: italic;
        font-size: 15px;}

    .bold{ font-weight: bold;
        font-style:normal;
        font-size: 15px;}

    .txt{
        text-indent: 75px;}


footer {
    background: #9ee8ff ;
    color: #0e12e0;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    top: 987px; }

p{
    text-align: center;
    text-decoration: wavy;
    text-shadow: royalblue;
    color:coral;

}

.box{
    border-color: red;
    border-radius: 5px;
    width: fit-content;
    border-style: dotted;
    border-bottom: solid;
    
    
}