<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sobre mí</title>
</head>
<header>
    <button><a href="../index.html">Volver al CV</a></button>
    
</header>
<body>
    <p class="box">Comencé a aprender inglés desde muy pequeño, con 4 años de edad.</p>
    <p class="box">Estudio programación.</p>
    <p class="box">Este año aprendí a hacer galletas de avena.</p>
    <p class="box">Esta página es la única con datos reales.</p>
    
</body>
<footer>
    <button><a href="./index2.html">Ver el otro index</a></button>
</footer>
</html>